$website-width: 980px;
$mobile-width: 600px;

// Bass colors
$c0: #1f2945;
$c1: #2A5585;
$c2: #5796D9;
$c3: #FFA100;
$c4: #FFC35C;

// Colors

$c00: #000B17;
$c01: #00264F;
$c02: #1A344F;
$c03: #004287;
$c04: #2E5987;
$c05: #5796D9;

$c10: #D98900;
$c11: #FFA100;
$c12: #FFC35C;

// fonts
$serif: "libre baskerville", "Times New Roman", serif;
$Helvetica-Neue: "Helvetica Neue", "Arial", sans-serif;
$Avenir-Next: "Avenir Next", "Helvetica Neue", "Arial", sans-serif;
